#projects {
	padding-bottom: 20px;
	width:90%;
	margin-right: auto;
	margin-left: auto;
}

.project {
	position: relative;
}

.info {
	position: absolute;
	bottom: 0;
	left: 0;
	color: #fff;
	background-color: rgba(28, 26, 31, 0.63);
	height: 45px;
	width: 100%;
	margin:0;
	padding-left: inherit;
    padding-right: inherit;
	background-clip: content-box;
	font-size: 17px;
}

.info p {
	position: absolute;
    top: 50%;
    left: 30px;
    margin-right: -50%;
    transform: translate(0, -50%);
}

.info a {
	position: absolute;
    top: 50%;
	right: 30px;
	transition: all 0.3s ease-in-out;
	transform: translate(0, -50%);
}

.info i {
	font-size: 15px;
}

@media(max-width:400px) 
{
.project p {
	font-size: 15px;
}
.project i {
	font-size: 15px;
}
}

@media(max-width:320px) 
{
.project p {
	font-size: 12px;
}
.project i {
	font-size: 12px;
}
}